<div>
  <app-header></app-header>

  <section class="section">
    <div class="container">
      <p class="title has-text-centered">
        Bookings
      </p>
    </div>
  </section>

  <section class="section">
    <div class="table-container">
      <p class="title has-text-centered">
        Current Bookings
      </p>
      <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th scope="col">S.N.</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Service Used</th>
            <th scope="col">Car Booked</th>
            <th scope="col">Driver</th>
            <th scope="col">Pickup Address</th>
            <th scope="col">Start Time</th>
            <!-- <th scope="col">Actions</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="booking in $ctrl.currentBookings track by $index">
            <th scope="row">{{$index + 1 + "."}}</th>
            <td>{{booking.customer.name}}</td>
            <td>{{booking.branch.name + " (" + booking.branch.location +")"}}</td>
            <td>{{booking.carBooked.name + " (" + booking.carBooked.carRegNumber +")"}}</td>
            <td>{{booking.driverDetails.name}}</td>
            <td>{{booking.pickupAddress}}</td>
            <td>{{booking.startTime | date: 'dd/MM/yyyy @ hh:mma'}}</td>
            <!-- <td>
              <button class="button is-success is-small" ng-click="$ctrl.toggleEndBookingModal(null, booking._id)">
                <span>End Booking</span>
                <span class="icon is-small"><i class="fas fa-check"></i></span>
              </button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="section">
    <div class="table-container">
      <p class="title has-text-centered">
        Ended Bookings
      </p>
      <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th scope="col">S.N.</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Service Used</th>
            <th scope="col">Car Booked</th>
            <th scope="col">Driver</th>
            <th scope="col">Pickup Address</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">KMs Travelled</th>
            <th scope="col">Billed Amount(in ₹)</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="booking in $ctrl.endedBookings track by $index">
            <th scope="row">{{$index + 1 + "."}}</th>
            <td>{{booking.customer.name}}</td>
            <td>{{booking.branch.name + " (" + booking.branch.location +")"}}</td>
            <td>{{booking.carBooked.name + " (" + booking.carBooked.carRegNumber +")"}}</td>
            <td>{{booking.driverDetails.name}}</td>
            <td>{{booking.pickupAddress}}</td>
            <td>{{booking.startTime | date: 'dd/MM/yyyy @ hh:mma'}}</td>
            <td>{{booking.endTime | date: 'dd/MM/yyyy @ hh:mma'}}</td>
            <td>{{booking.kmsTravelled}}</td>
            <td>{{booking.billedAmount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>