<div>
  <app-header></app-header>

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <a href="/book">
            <div class="card has-background-success card-item-clickable">
              <div class="card-content">
                <span class="title is-centered">Book Car</span>
                <span class="icon is-large is-pulled-right">
                  <i class="fas fa-2x fa-arrow-circle-right"></i>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>