<div>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="__main_navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="__main_navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/user">
          Home
        </a>

        <a class="navbar-item" ng-click="$ctrl.logout()">
          Logout
        </a>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <a href="/book">
            <div class="card has-background-success card-item-clickable">
              <div class="card-content">
                <span class="title is-centered">Book Car</span>
                <span class="icon is-large is-pulled-right">
                  <i class="fas fa-2x fa-arrow-circle-right"></i>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>