<div>
  <app-header></app-header>

  <section class="section">
    <div class="container">
      <p class="title has-text-centered">
        Branches
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <form name="branchForm" novalidate ng-submit="$ctrl.createBranch(branchForm)">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input name="name" class="input" type="text" required placeholder="Branch Name"
                  ng-model="$ctrl.branch.name" />
              </div>
              <div ng-show="branchForm.name.$submitted || branchForm.name.$touched">
                <p class="help is-danger" ng-show="branchForm.name.$error.required">Branch Name is required!
                </p>
              </div>
            </div>

            <div class="field">
              <label class="label">Location</label>
              <div class="control">
                <input name="location" class="input" type="text" required placeholder="Branch location"
                  ng-model="$ctrl.branch.location" />
              </div>
              <div ng-show="branchForm.location.$submitted || branchForm.location.$touched">
                <p class="help is-danger" ng-show="branchForm.location.$error.required">Branch Location is required!
                </p>
              </div>
            </div>

            <div class="field">
              <label class="label">Headquarter Name</label>
              <div class="control">
                <div class="select">
                  <select name="headquarter" ng-model="$ctrl.branch.headquarter" required>
                    <option value="">Select Headquarter...</option>
                    <option ng-repeat="headquarter in $ctrl.headquartersList" value="{{headquarter._id}}">
                      {{headquarter.name + ", " + headquarter.location}}</option>
                  </select>
                </div>
              </div>
              <div ng-show="branchForm.headquarter.$submitted || branchForm.headquarter.$touched">
                <p class="help is-danger" ng-show="branchForm.headquarter.$error.required">Please select a Headquarter!
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-grouped is-grouped-right">
          <div class="control">
            <button class="button is-primary" type="submit" ng-disabled="branchForm.$invalid">
              Submit
            </button>
          </div>
          <div class="control">
            <button class="button is-light" type="button" ng-click="$ctrl.resetForm(branchForm)">
              Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section class="section">
    <div class="table-container">
      <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th scope="col">S.N.</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Headquarter</th>
            <th scope="col">No. of Operational Cars</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="branch in $ctrl.branchesList">
            <th scope="row">{{$index + 1 + "."}}</th>
            <td>{{branch.name}}</td>
            <td>{{branch.location}}</td>
            <td>{{branch.headquarter.name + ", " + branch.headquarter.location}}</td>
            <td>{{branch.cars.length}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>