<div>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <a href="/login">
            <div class="card has-background-primary card-item-clickable">
              <div class="card-content">
                <span class="title is-centered">Login</span>
                <span class="icon is-large is-pulled-right">
                  <i class="fas fa-2x fa-arrow-circle-right"></i>
                </span>
              </div>
            </div>
          </a>
        </div>

        <div class="column is-half">
          <a href="/register">
            <div class="card has-background-info card-item-clickable">
              <div class="card-content">
                <span class="title is-centered">Register</span>
                <span class="icon is-large is-pulled-right">
                  <i class="fas fa-2x fa-arrow-circle-right"></i>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>