<div>
  <app-header></app-header>

  <section class="section">
    <div class="container">
      <p class="title has-text-centered">
        Headquarters
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <form name="headquarterForm" novalidate ng-submit="$ctrl.createHeadquarter(headquarterForm)">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input name="name" ng-model="$ctrl.headquarter.name" class="input" type="text" required
                  placeholder="Headquarter Name" />
              </div>
              <div ng-show="headquarterForm.name.$submitted || headquarterForm.name.$touched">
                <p class="help is-danger" ng-show="headquarterForm.name.$error.required">Headquarter Name is required!
                </p>
              </div>
            </div>

            <div class="field">
              <label class="label">Location</label>
              <div class="control">
                <input name="location" ng-model="$ctrl.headquarter.location" class="input" type="text" required
                  placeholder="Headquarter location" />
              </div>
              <div ng-show="headquarterForm.location.$touched">
                <p class="help is-danger" ng-show="headquarterForm.location.$error.required">Headquarter Location is
                  required!</p>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-grouped is-grouped-right">
          <div class="control">
            <button class="button is-primary" type="submit" ng-disabled="headquarterForm.$invalid">
              Submit
            </button>
          </div>
          <div class="control">
            <button class="button is-light" type="button" ng-click="$ctrl.resetForm(headquarterForm)">
              Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section class="section">
    <div class="table-container">
      <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th scope="col">S.N.</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">No. of Operational Branches</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="headquarter in $ctrl.headquartersList track by $index">
            <th scope="row">{{$index + 1 + "."}}</th>
            <td>{{headquarter.name}}</td>
            <td>{{headquarter.location}}</td>
            <td>{{headquarter.branches.length}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>