<div>
  <app-header></app-header>

  <section class="section">
    <div class="container">
      <p class="title has-text-centered">
        Car Drivers
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <form name="driverForm" novalidate ng-submit="$ctrl.createDriver(driverForm)">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input name="name" class="input" type="text" required placeholder="Name" ng-model="$ctrl.driver.name" />
              </div>
              <div ng-show="driverForm.name.$submitted || driverForm.name.$touched">
                <p class="help is-danger" ng-show="driverForm.name.$error.required">Driver Name is required!
                </p>
              </div>
            </div>

            <div class="field">
              <label class="label">Age</label>
              <div class="control">
                <input name="age" class="input" type="number" required placeholder="Age" ng-model="$ctrl.driver.age"
                  min="18" max="60" />
              </div>
              <div ng-show="driverForm.age.$submitted || driverForm.age.$touched">
                <p class="help is-danger" ng-show="driverForm.age.$error.required">Driver Age is required!
                </p>
                <p class="help is-danger" ng-show="driverForm.age.$error.min || driverForm.age.$error.max">
                  Age must be between 18 and 60!</p>
              </div>
            </div>

            <div class="field">
              <label class="label">Permanent Address</label>
              <div class="control">
                <input name="permanentAddress" class="input" type="text" required placeholder="Permanent Address"
                  ng-model="$ctrl.driver.permanentAddress" />
              </div>
              <div ng-show="driverForm.permanentAddress.$submitted || driverForm.permanentAddress.$touched">
                <p class="help is-danger" ng-show="driverForm.permanentAddress.$error.required">Permanent Address is
                  required!
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-grouped is-grouped-right">
          <div class="control">
            <button class="button is-primary" type="submit" ng-disabled="driverForm.$invalid">
              Submit
            </button>
          </div>
          <div class="control">
            <button class="button is-light" type="button" ng-click="$ctrl.resetForm(driverForm)">
              Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section class="section">
    <div class="table-container">
      <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th scope="col">S.N.</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Permanent Address</th>
            <th scope="col">Assigned Car</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="driver in $ctrl.driversList track by $index">
            <th scope="row">{{$index + 1 + "."}}</th>
            <td>{{driver.name}}</td>
            <td>{{driver.age}}</td>
            <td>{{driver.permanentAddress}}</td>
            <td>{{driver.assignedCar ? driver.assignedCar.name : "N/A"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>